Plugins>Raspberry, "Upload Stack", org.mueller_physics.network_display.Send_Raspberry("upload")
Plugins>Raspberry, "Switch Image", org.mueller_physics.network_display.Send_Raspberry("control")
Plugins>Raspberry, "send current image", org.mueller_physics.network_display.Send_Raspberry("send-and-display")
Plugins>Raspberry, "(re)set hostname", org.mueller_physics.network_display.Send_Raspberry("set-hostname")
